main {
  display: flex;
  flex-direction: column;
  background-color: #f0f5f5;
  border-radius: 15px;
  width: 310px;
  height: 480px;
  margin: 50px;
  padding: 15px;
}

section {
  width: 280px;
  height: 82px;
}

.display-value {
  border-style: outset;
  /*浮出線*/
  justify-content: center;
  border-radius: 10px;
  width: 280px;
  height: 80px;
  margin: 0;
  padding: 12px;
  font-size: 36px;
  text-align: right;
  background-color: #d9d9d9;
}

button {
  display: flex;
  display: inline-block;
  justify-content: center;
  margin: 8px 1px 0 0;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  /*文字左右置中*/
  align-content: center;
  /*文字上下置中*/
  text-shadow: #333333 0 1px;
}

.operation,
.equal,
.delete-one,
.percent,
.clear-all {
  color: white;
  background-color: #004d00;
}

.number {
  color: white;
  background-color: #336600;
}

/*按了之後的樣式改變  */
.operation:active,
.equal:active,
.delete-one:active,
.percent:active,
.clear-all:active {
  color: white;
  background-color: #207b28;
}

.number:active {
  color: white;
  background-color: #4d9900;
}